footer {
  width: 100%;
  min-height: 170px;
  background: #464547;
  padding: 20px 0 20px 145px;
}
footer p img {
  width: "20px";
  height: "20px";
}
footer p span {
  padding-left: 16px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  /* identical to box height, or 89% */
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--main-color);
}
footer p,
address a {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* or 119% */
  color: rgba(255, 255, 255, 0.4);
}