@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Source+Sans+Pro&display=swap");

:root {
  --main-color: #fff;
  --button-color: #55c2d8;
  --main-font: "Source Sans Pro";
  --secondary-font: "Oswald";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 100%;
}
.d-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
