header {
  width: 100%;
  min-height: 100vh;
  background-image: url(../image/background_header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-block {
  position: absolute;
  max-width: 426px;
  min-height: 292px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.hero-block div img {
  width: 63px;
  height: 63px;
}
.hero-block h1 {
  color: var(--main-color);
  max-width: 386px;
  min-height: 118px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  /* or 133% */
  text-align: center;
}
.hero-block h2 {
  max-width: 426px;
  min-height: 56px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 42px;
}
